# Big raster and LAS files
*.tif
*.las

# Clutter from GIS
*.xml
*.shp
*.prj
*.shx
*.dbf
*.html
*.cpg
*.qpg
*.qpj
*.qml

# Word Processor
*.odf
*.docx
*.pdf

# Igor
*.pxp

# Photos
*.jpg
*.JPG
*.JPEG

# Notebooks
*.ipynb

# MagnaProbe
*.dat

# Spreadsheets
*.xls
*.xlsx

/validation/site _visits/
