# Big raster and LAS files
*.tif
*.las

# Clutter from GIS
*.xml
*.shp
*.prj
*.shx
*.dbf
*.html
*.cpg
*.qpg
*.qpj
*.qml
*.qgs
*.qgs~


# Word Processor
*.odf
*.docx
*.pdf

# Igor
*.pxp

# Photos
*.jpg
*.JPG
*.JPEG

# Notebooks


# MagnaProbe
*.dat

# Archives
*.zip

# Spreadsheets
*.xls
*.xlsx

# Dirs
validation/site_visits/
depth_dDEMs/clpx/old_dDEM_process/
gis/
random_forest_model/input_feature_data/
random_forest_model/scripts/specific_for_tuolumne/
